:root {
    --alabaster: hsla(77, 11%, 87%, 1);
    --timberwolf: hsla(70, 12%, 81%, 1);
    --ash-gray: hsla(98, 6%, 73%, 1);
    --cadet-gray: hsla(180, 6%, 56%, 1);
    --hookers-green: hsla(169, 10%, 25%, 1);
    color-scheme: light dark;
}
@media screen and (max-width: 480px) {
    .logo {
        max-width:40px;
    }
    .logo-link {
        align-self: flex-start;
    }
    .page-header {
        justify-content: flex-start;
        padding-left: 5px;
        padding-right: 5px;
        position: relative;
    }
    .nav-button {
        display: block;
    }
    #search {
        min-width: 50px;
        /* max-width: 170px; */
        flex: 1;
    }
    #search input {
        max-width: 100%;
    }
    #search button {
        display: none;
    }
    #main {
        order: 3;
        flex-direction: column;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.5s;
        flex-wrap: nowrap;
        position: absolute;
        top: 100%;
        left: 0px;
        min-width: 100%;
        background-color: var(--cadet-gray);
        z-index: 999;
    }
    
    #main.open{
        max-height: 50vh;
    }
    #user-nav a:nth-child(1) {
        display: none;
    }
    #user-nav {
        gap: 5px;
        font-size: 0.7em;
    }
    #user-nav a {
        padding: 5px;
    }
}
